<div class="wrapper">
  <div class="card">

    <section>

      <div class="card-header">
        <h1>Companies</h1>
        <div class="controls">
          <button mat-stroked-button color="primary">
            Clear all
          </button>
          <button mat-flat-button color="accent" [routerLink]="['add']">
            Add company
          </button>
        </div>
      </div>


      <div class="filter-container">
        <div class="filter-bar-container">
          <filter-bar #filterBar [columnsToFilter]="columnsToFilter" (modelUpdateEvent)="loadCompanies()"></filter-bar>
        </div>
        <div class="dates-container">
          <form-group
            [fg]="generalForm"
            [name]="'companyFilterForm'"
            [controls]="companyFilterFormControls"
            [gridColumns]="2"></form-group>
        </div>
      </div>

      <div class="full-width" *ngIf="datasource.loading">
        Searching, please wait...
      </div>

      <div *ngIf="datasource.loading">
        <mat-progress-bar mode="indeterminate" class="full-width"></mat-progress-bar>
      </div>

      <table mat-table #table [dataSource]="datasource"
             [hidden]="datasource.max === 0" class="full-width"
             matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>

        <ng-container cdkColumnDef="name">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Company name</mat-header-cell>
          <mat-cell *cdkCellDef="let col">
            <mat-card class="table-card">
              <mat-card-header class="table-card-header">
                <img-loader class="table-card-header-avatar" [imgId]="col.logoId"></img-loader>
                <mat-card-title><a [routerLink]="['detail', col.id]"></a>{{col.name}}</mat-card-title>
              </mat-card-header>
            </mat-card>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="code">
          <mat-header-cell mat-sort-header *cdkHeaderCellDef>Code</mat-header-cell>
          <mat-cell *cdkCellDef="let col">
            <div>{{col.code}}</div>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="type">
          <mat-header-cell mat-sort-header *cdkHeaderCellDef>Type</mat-header-cell>
          <mat-cell *cdkCellDef="let col">
            <div>{{col.type}}</div>
          </mat-cell>
        </ng-container>



        <ng-container cdkColumnDef="createdDate">
          <mat-header-cell mat-sort-header *cdkHeaderCellDef>Created at</mat-header-cell>
          <mat-cell *cdkCellDef="let col">
            <div>
              <span class="">{{col.createdDate | DateTimeISO8601}}</span>
              <span class="">{{col.createdBy}}</span>
            </div>
          </mat-cell>
        </ng-container>


        <ng-container cdkColumnDef="modifiedDate">
          <mat-header-cell mat-sort-header *cdkHeaderCellDef>Modified on</mat-header-cell>
          <mat-cell *cdkCellDef="let col">
            <div>
              <span class="">{{col.modifiedDate | DateTimeISO8601}}</span>
              <span class="">{{col.modifiedBy}}</span>
            </div>
          </mat-cell>
        </ng-container>

      </table>

      <div class="full-width">
        <mat-paginator #paginator
                       class="paginator"
                       [length]="datasource.max"
                       [pageIndex]="0"
                       [pageSize]="20"
                       [pageSizeOptions]="[20, 50, 100]"
                       [hidden]="datasource.dataToDisplay.length == 0">
        </mat-paginator>
      </div>

      <div class="warning-no-records" *ngIf="datasource.dataToDisplay.length == 0">
        No records found...
      </div>
    </section>

  </div>
</div>
