@import '../../../../colors.scss';

.side-menu {
  height: 100%;
  margin: -10px -25px;
  float: left;
  width: 200px;
  background: $menu;

  a {
    text-decoration: none;
    display: block;
    font-size: 14px;
    text-align: center;
    padding: 20px 20px;
  }

  a:hover, a.active {
    background-color: $bodyBg;
  }

}

