@import '../../../../colors.scss';

.side-menu {
  height: 100%;
  margin: -10px -25px;
  padding-bottom: 25px;
  border: 2px solid green;
  float: left;
  width: 200px;
  background: $menu;

  a {
    text-decoration: none;
    display: block;
    font-size: 14px;
    text-align: center;
    padding: 20px 20px;
  }

  a:hover, a.active {
    background-color: $bodyBg;
  }

}

.article {

  margin: 100px 20px;
  display: flex;
  flex-flow: column;
  align-items: center;

  h2 {
    font-size: 2rem;
  }

  i {
    font-size: 8rem;
    margin: 30px 30px;
  }

  p {
    font-size: 1.4rem;
  }


}
