<div class="wrapper">
  <div class="card">

      <section>

        <div class="card-header">
          <h1>Parts</h1>

          <div class="controls">

            <button mat-stroked-button color="primary">
              Clear all
            </button>

            <button mat-flat-button color="primary">
              Add new part
            </button>

          </div>
        </div>


        <div class="flex-container">
          <nav mat-tab-nav-bar>
            <a mat-tab-link
               *ngFor="let link of navLinks"
               [routerLink]="link.path"
               routerLinkActive #rla="routerLinkActive"
               [active]="rla.isActive">
              {{link.label}}
            </a>
          </nav>

          <router-outlet></router-outlet>
        </div>


      </section>
  </div>
</div>
