<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <a [routerLink]="['/parts/engines']">ENGINE</a>
    <a [routerLink]="['/parts/wheels']">WHEELS</a>
    <a [routerLink]="['/parts/breaks']">BREAKS</a>
    <a [routerLink]="['/parts/equipment']">EQUIPMENT</a>
  </mat-sidenav>
  <mat-sidenav-content>
    <section>

      <h2>Parts</h2>


      <div class="flex-container">

        <div class="article">

          <i class="fas fa-tools"></i>

          <h2>Create</h2>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent turpis lacus, efficitur vel gravida quis, lacinia sed dolor.
            In vitae laoreet tellus. Duis et tincidunt risus, in lacinia nisi.
          </p>
        </div>

        <div class="article">

          <i class="fas fa-list"></i>

          <h2>Organize</h2>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent turpis lacus, efficitur vel gravida quis, lacinia sed dolor.
            In vitae laoreet tellus. Duis et tincidunt risus, in lacinia nisi.
          </p>
        </div>

        <div class="article">

          <i class="far fa-edit"></i>

          <h2>Customize</h2>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent turpis lacus, efficitur vel gravida quis, lacinia sed dolor.
            In vitae laoreet tellus. Duis et tincidunt risus, in lacinia nisi.
          </p>
        </div>

      </div>


    </section>
  </mat-sidenav-content>

</mat-sidenav-container>
