// General
$white: #F5F5F5;
$black: #000;
$dark: #212121;
$bodyBg: #9E9E9E;
$lightBodyBg: #BDBDBD;
$footerBg: #616161;
$mainColor: #009688;
$mainColorHover: #00afa1;


// Text
//$subtitleColor: #F5F5F5;
$subtitleColor: #fff;
$footerColor: #cdcdcd;
$warningColor: #bb0000;
$infoColor: #ffc107;


// Slider
$sliderBg: #4fc3f7;


//Sidebar menu
$menu: #757575;
