// General
$white: #fff;
$black: #000;
$bodyBg: #BDBDBD;
$footerBg: #333;


// Text
$subtitleColor: #a7a7a7;
$footerColor: #cdcdcd;
$warningColor: #bb0000;
$infoColor: #ffc107;


// Slider
$sliderBg: #4fc3f7;


//Sidebar menu
$menu: #9E9E9E;
