// General
$white: #F5F5F5;
$black: #000;
$dark: #212121;
$bodyBg: #9E9E9E;
$bodyBgLighten: #ABABAB;
$bodyBgDarken: #393939;
$lightBodyBg: #BDBDBD;
$footerBg: #616161;
$col-primary: #FFB300;
$col-primary-hover: #eba200;

$col-secondary: #616161;

$col-border: #d1d1d1;
$col-text: #585858;



// Text
//$subtitleColor: #F5F5F5;
$subtitleColor: #000;
$footerColor: #cdcdcd;
$warningColor: #bb0000;
$infoColor: #ffc107;


// Slider
$sliderBg: #4fc3f7;


//Sidebar menu
$menu: #757575;
