/* You can add global styles to this file, and also import other style files */
@import "./colors.scss";
@import "./theme/theme.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";

///* ATOMS */
//@import "./theme/atoms/_controls.scss";
//@import "./theme/atoms/_variables.scss";
//@import "./theme/atoms/_grid.scss";
////@import "./theme/atoms/_forms.scss";
//
///* MOLECULES */
//@import "./theme/molecules/_card.scss";

html, body {

  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, $bodyBgLighten, $bodyBgDarken);
  overflow-x: hidden;


  header, section {
    padding: 0;
    margin: 0;
  }

  section {
    height: 100%;
    width: 100%;
  }


  // Override materials
  // todo: Add deep to override material-ui
    .mat-list .mat-list-item {
      font-size: 1rem;
    }

    mat-dialog-container {
      background-color: $bodyBg !important;
    }

    mat-divider {
      background-color: $dark !important;
    }


    mat-dialog-container > * {
      display: block;
      position: relative;
    }

    mat-horizontal-stepper {
      background-color: $bodyBg !important;
    }

    mat-step-icon {
      background-color: $col-primary !important;
    }

    .mat-tab-nav-bar {
      margin-bottom: 2.6em;
    }

    .mat-stepper-horizontal {
      display: inherit;
    }

  .mat-slide-toggle {
    margin-bottom: 2em;
  }

    // Styles for all components - global styles
  .close-button {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 1;
  }

  .intersection-observer-trigger {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px !important;
    background-color: transparent !important;
    pointer-events: none;
  }

  .text-no-wrap {
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }


  .warning-no-records {
    color: $subtitleColor;
    font-size: 2rem;
    padding: 25px;
    text-align: center;
  }


  .subtitle {
    color: $subtitleColor;
    font-size: 0.9rem;
  }


  .divider {
    &-large {
      margin: 20px 0;
    }

    &-medium {
      margin: 10px 0;
    }

    &-small {
      margin: 5px 0;
    }

    &-blank {
      border-top-color: transparent;
    }
  }


  .text-left {
    text-align: left;
  }

  .align-vertical-center {
    display: flex;
    align-items: center;
  }

  .align-right {
    display: flex;
    justify-content: flex-end;
  }

  .align-space-between {
    display: flex;
    justify-content: space-between;
  }

  .align-space-evenly {
    display: flex;
    justify-content: space-evenly;
  }

  .align-space-center {
    display: flex;
    justify-content: center;
  }

  .full-width {
    width: 100%;
  }

  .general-form-item .mat-figure {
    align-items: flex-start;
  }

  .general-form-field {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .image-preview {
    width: 100%;
    //height: 100%;
    //display: flex;
    //align-items: center;

    > img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }

  }

  .flex-container {
    height: 100%;
    display: flex;
    //align-items: center;
    //justify-content: center;
    //justify-content: space-between;
    //align-content: stretch;

    &-content {
      flex: 50%;
    }

  }


  .vertical-divider {
    margin: 30px;
    color: $black;
  }

}

