.filter-container {
  display: flex;

  .filter-bar-container,
  .select-bar-container:not(:last-child) {
    padding-right: 10px;
  }

  .filter-bar-container {
    flex: 2;
  }

  .select-bar-container {
    flex: 1;

    > * {
      width: 100%;
    }
  }
  &-quarter {
    flex: 1;

    &:not(:last-child) {
      margin-right: 10px;
    }

    mat-slider {
      width: 100%;
    }

    mat-select {
      width: 100%;
    }
  }
}

.filters {
  padding-top: 1.25em;
}
