:host::ng-deep {
  .table-card {
    box-shadow: none !important;
    padding: 5px;

    &-header {
      align-items: center;

      &-avatar {
        order: -1;

        > img {
          margin-right: 10px;
          object-fit: contain;
        }
      }
    }

    mat-card-title {
      font-weight: 500;
      margin-bottom: 10px;
    }

    mat-card-subtitle {
      margin-bottom: 0;
    }


  }
}
