<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <!--Nav-bar links-->
    <side-nav-bar></side-nav-bar>
  </mat-sidenav>
  <mat-sidenav-content>
    <section>

      <!--For adding new part-->

      <div *ngIf="!details">
        <h2>Add new equipment</h2>

        <part-form
          [partFormDetailsControls]="equipmentDetailsFormControl"
          [partGroup]="'equipment'"
          (partCurrentForm)="onSubmit($event)"
          [partPreviews]="equipmentPreviews"></part-form>
      </div>


      <!--For editing part-->

      <div *ngIf="details">
        <h2>{{equipment.name}}</h2>

        <part-form
          [part]="equipment"
          [partFormDetailsControls]="equipmentDetailsFormControl"
          [partGroup]="'equipment'"
          (partCurrentForm)="onSubmit($event)"
          [partPreviews]="equipmentPreviews"
          [isDisabled]="true"
          [details]="details"></part-form>
      </div>
    </section>
  </mat-sidenav-content>

</mat-sidenav-container>
