.image-preview {
  width: 600px;
  height: auto;
  //border: 1px solid red;
  margin: auto;

  &-car {
    width: 100px;
    border: 1px solid red;
  }

  //
  //> img {
  //  position: absolute;
  //  margin: auto;
  //}

}
