<div class="wrapper">
  <div class="card">
    <section>

      <!--For adding new part-->

      <div *ngIf="!details">
        <h1>Add new wheels</h1>

        <part-form
          [partFormDetailsControls]="wheelsDetailsFormControls"
          [partGroup]="'wheels'"
          (partCurrentForm)="onSubmit($event)"
          [partPreviews]="wheelsPreviews"></part-form>
      </div>


      <!--For editing part-->

      <div *ngIf="details">
        <h1>{{wheels.name}}</h1>

        <part-form
          [part]="wheels"
          [partFormDetailsControls]="wheelsDetailsFormControls"
          [partGroup]="'wheels'"
          (partCurrentForm)="onSubmit($event)"
          [partPreviews]="wheelsPreviews"
          [isDisabled]="true"
          [details]="details"></part-form>
      </div>

    </section>
  </div>
</div>
