<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <!--Nav-bar links-->
    <side-nav-bar></side-nav-bar>
  </mat-sidenav>
  <mat-sidenav-content>
    <section>
      <h2 *ngIf="!edit">Add new wheels</h2>

      <h2 *ngIf="edit" class="align-space-between">
        {{wheels.name}}
        <div>
          <button mat-stroked-button color="accent" (click)="enableEdit()">
            edit
          </button>
        </div>
      </h2>


      <form [formGroup]="generalForm" *ngIf="generalForm">

        <div class="flex-container">

          <div class="flex-container-content">

            <form-group
              *ngIf="wheelsDetailsForm"
              [fg]="generalForm"
              [name]="'wheelsDetailsForm'"
              [controls]="wheelsDetailsFormControls"
              [gridColumns]="gridColumns"></form-group>

          </div>

          <mat-divider class="divider-large vertical-divider" [vertical]="true"></mat-divider>

          <div class="flex-container-content">
            <img src="../../../assets/wheels/{{getWheelsPreview()}}" class="image-preview">
          </div>

        </div>

        <div class="align-space-between" *ngIf="!isRequest">
          <button mat-stroked-button type="button" color="primary" (click)="goBack()">Cancel</button>
          <button mat-flat-button type="submit" color="primary" (click)="onSubmit()">Save</button>
        </div>
      </form>
      <p>General form: {{ wheelsDetailsForm.value | json }}</p>
      <p>Is form valid: {{ wheelsDetailsForm.valid }}</p>
    </section>
  </mat-sidenav-content>

</mat-sidenav-container>
