<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <!--Nav-bar links-->
    <side-nav-bar></side-nav-bar>
  </mat-sidenav>
  <mat-sidenav-content>
    <section>

      <!--For adding new part-->

      <div *ngIf="!details">
        <h2>Add new breaks</h2>

        <part-form
          [partFormDetailsControls]="breaksDetailsFormControls"
          [partGroup]="'breaks'"
          (partCurrentForm)="onSubmit($event)"
          [partPreviews]="breaksPreviews"></part-form>
      </div>


      <!--For editing part-->

      <div *ngIf="details">
        <h2>{{breaks.name}}</h2>

        <part-form
          [part]="breaks"
          [partFormDetailsControls]="breaksDetailsFormControls"
          [partGroup]="'breaks'"
          (partCurrentForm)="onSubmit($event)"
          [partPreviews]="breaksPreviews"
          [isDisabled]="true"
          [details]="details"></part-form>
      </div>
    </section>

  </mat-sidenav-content>

</mat-sidenav-container>
