<div class="wrapper">
  <div class="card">
    <section>

      <!--For adding new part-->

      <div *ngIf="!details">
        <h1>Add new breaks</h1>

        <part-form
          [partFormDetailsControls]="breaksDetailsFormControls"
          [partGroup]="'breaks'"
          (partCurrentForm)="onSubmit($event)"
          [partPreviews]="breaksPreviews"></part-form>
      </div>


      <!--For editing part-->

      <div *ngIf="details">
        <h1>{{breaks.name}}</h1>

        <part-form
          [part]="breaks"
          [partFormDetailsControls]="breaksDetailsFormControls"
          [partGroup]="'breaks'"
          (partCurrentForm)="onSubmit($event)"
          [partPreviews]="breaksPreviews"
          [isDisabled]="true"
          [details]="details"></part-form>
      </div>
    </section>
  </div>
</div>
