<div class="wrapper">
  <div class="card">
    <section>

      <!--For adding new part-->

      <div *ngIf="!details">
        <h2>Add new windows</h2>

        <part-form
          [partFormDetailsControls]="windowsDetailsFormControls"
          [partGroup]="'windows'"
          (partCurrentForm)="onSubmit($event)"
          [partPreviews]="windowsPreviews"></part-form>
      </div>


      <!--For editing part-->

      <div *ngIf="details">
        <h2>{{windows.name}}</h2>

        <part-form
          [part]="windows"
          [partFormDetailsControls]="windowsDetailsFormControls"
          [partGroup]="'windows'"
          (partCurrentForm)="onSubmit($event)"
          [partPreviews]="windowsPreviews"
          [isDisabled]="true"
          [details]="details"></part-form>
      </div>

    </section>
  </div>
</div>
