.flex-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  //justify-content: space-between;
  //align-content: stretch;

  &-content {
    flex: 50%;
  }

}
