<form [formGroup]="generalForm" *ngIf="generalForm">

    <h3>Basic car info:</h3>

    <div class="flex-container">

      <div class="flex-container-content">

        <form-group
          *ngIf="carDetailsForm"
          [fg]="generalForm"
          [name]="'carDetailsForm'"
          [controls]="carDetailsFormControls"
          [gridColumns]="gridColumns"></form-group>

      </div>

      <mat-divider class="divider-large vertical-divider" [vertical]="true"></mat-divider>

      <div class="flex-container-content">

        <!--todo: change styling of that img-->
        <img src="../../../assets/body/{{getCarBodyPreview()}}" class="image-preview-car">

      </div>

    </div>

    <mat-divider class="divider-large"></mat-divider>

    <!--  todo: Finish implementing this component-->

    <h3 class="align-space-between">
      Engine:
      <div class="btn-carousel">
        <button mat-stroked-button type="button" (click)="previousEngine()" class="btn-previous">
          <i class="fas fa-angle-left"></i>
        </button>
        <button mat-stroked-button type="button" (click)="nextEngine()">
          <i class="fas fa-angle-right"></i>
        </button>
      </div>
    </h3>


    <mat-divider class="divider-large"></mat-divider>



    <!--  todo: Finish implementing this component-->
    <h3 class="align-space-between">
      Wheels:
      <div class="btn-carousel">
        <button mat-stroked-button type="button" (click)="previousEngine()" class="btn-previous">
          <i class="fas fa-angle-left"></i>
        </button>
        <button mat-stroked-button type="button" (click)="nextEngine()">
          <i class="fas fa-angle-right"></i>
        </button>
      </div>
    </h3>

    <mat-divider class="divider-large"></mat-divider>


    <!--  todo: Finish implementing this component-->
    <h3 class="align-space-between">
      Breaks:
      <div class="btn-carousel">
        <button mat-stroked-button type="button" (click)="previousEngine()" class="btn-previous">
          <i class="fas fa-angle-left"></i>
        </button>
        <button mat-stroked-button type="button" (click)="nextEngine()">
          <i class="fas fa-angle-right"></i>
        </button>
      </div>
    </h3>

    <mat-divider class="divider-large"></mat-divider>

    <!--  todo: Finish implementing this component-->
    <h3 class="align-space-between">
      Tires:
      <div class="btn-carousel">
        <button mat-stroked-button type="button" (click)="previousEngine()" class="btn-previous">
          <i class="fas fa-angle-left"></i>
        </button>
        <button mat-stroked-button type="button" (click)="nextEngine()">
          <i class="fas fa-angle-right"></i>
        </button>
      </div>
    </h3>


    <div class="align-space-between" *ngIf="!isRequest">
      <button mat-stroked-button type="button" color="primary" (click)="goBack()">Cancel</button>
      <button mat-flat-button type="submit" color="primary" (click)="onSubmit()">Save</button>
    </div>

</form>
<p>General form: {{ carDetailsForm.value | json }}</p>
<p>Is form valid: {{ carDetailsForm.valid }}</p>
