<div class="wrapper">
  <div class="card">
    <section>

      <!--For adding new part-->

      <div *ngIf="!details">
        <h1>Add new engine</h1>

        <part-form
          [partFormDetailsControls]="engineDetailsFormControls"
          [partGroup]="'engines'"
          (partCurrentForm)="onSubmit($event)"
          [partPreviews]="enginePreviews"></part-form>
      </div>


      <!--For editing part-->

      <div *ngIf="details">
        <h1>{{engine.name}}</h1>

        <part-form
          [part]="engine"
          [partFormDetailsControls]="engineDetailsFormControls"
          [partGroup]="'engines'"
          (partCurrentForm)="onSubmit($event)"
          [partPreviews]="enginePreviews"
          [isDisabled]="true"
          [details]="details"></part-form>
      </div>

    </section>
  </div>
</div>
