<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <!--Nav-bar links-->
    <side-nav-bar></side-nav-bar>
  </mat-sidenav>
  <mat-sidenav-content>
    <section>

      <h2>Add new engine</h2>

      <form [formGroup]="generalForm" *ngIf="generalForm">

        <div class="flex-container">

          <div class="flex-container-content">

            <form-group
              *ngIf="engineDetailsForm"
              [fg]="generalForm"
              [name]="'engineDetailsForm'"
              [controls]="engineDetailsFormControls"
              [gridColumns]="gridColumns"></form-group>

          </div>

          <mat-divider class="divider-bigger vertical-divider" [vertical]="true"></mat-divider>

          <div class="flex-container-content">
            <img src="../../../assets/engines/{{getEnginePreview()}}" class="image-preview">
          </div>

        </div>

        <div class="align-space-between" *ngIf="!isRequest">
          <button mat-stroked-button type="button" color="primary" (click)="goBack()">Cancel</button>
          <button mat-flat-button type="submit" color="primary" (click)="onSubmit()">Save</button>
        </div>
      </form>
      <p>General form: {{ engineDetailsForm.value | json }}</p>
      <p>Is form valid: {{ engineDetailsForm.valid }}</p>

    </section>

  </mat-sidenav-content>

</mat-sidenav-container>
