<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <!--Nav-bar links-->
    <side-nav-bar></side-nav-bar>
  </mat-sidenav>
  <mat-sidenav-content>
    <section>

      <!--For adding new part-->

      <div *ngIf="!details">
        <h2>Add new engine</h2>

        <part-form
          [partFormDetailsControls]="engineDetailsFormControls"
          [partGroup]="'engines'"
          (partCurrentForm)="onSubmit($event)"
          [partPreviews]="enginePreviews"></part-form>
      </div>


      <!--For editing part-->

      <div *ngIf="details">
        <h2>{{engine.name}}</h2>

        <part-form
          [part]="engine"
          [partFormDetailsControls]="engineDetailsFormControls"
          [partGroup]="'engines'"
          (partCurrentForm)="onSubmit($event)"
          [partPreviews]="enginePreviews"
          [isDisabled]="true"
          [details]="details"></part-form>
      </div>

    </section>

  </mat-sidenav-content>

</mat-sidenav-container>
