@import '../colors.scss';

:host {
  height: inherit;
  display: flex;
  flex-flow: column;


  .app-content {
    flex: 1;
    padding: 10px 25px;
  }


  .toolbar {
    &-header {

      justify-content: space-between;
      background-color: $black;
      height: 100px;

      a {
        color: $white;
        text-decoration: none;
        font-size: 1.2rem;
        border: 1px solid blue;
        margin-right: 50px;
        text-align: center;
      }

      img {
        max-height: 100%;
        width: 150px;
        border: 1px solid green;
      }


    }

    &-footer {
      background-color: $footerBg;
      justify-content: space-between;
      background-color: $footerBg;

      a {
        color: $white;
        text-decoration: none;
        font-size: 1.2rem;
        border: 1px solid blue;
      }

    }

  }


}
