<header>
  <mat-toolbar class="toolbar-header" color="primary">
      <div>
        <img src="/assets/carly_logo.png" alt="Carly">
      </div>
      <div>
        <a [routerLink]="['/dashboard']">home</a>
        <a [routerLink]="['/companies']">companies</a>
        <a [routerLink]="['/cars']">cars</a>
        <a [routerLink]="['/parts']">parts</a>
        <a [routerLink]="['/customers']">customers</a>
        <a [routerLink]="['/matching']">matchings</a>
        <a [routerLink]="['/details']">company data</a>
        <a [routerLink]="['/login']"><i class="fas fa-user"></i></a>
        <a [routerLink]="['/logout']"><i class="fas fa-sign-out-alt"></i></a>
      </div>
  </mat-toolbar>
</header>

<section class="app-content">
  <router-outlet></router-outlet>
</section>

<footer>
  <mat-toolbar class="toolbar-footer">
    <a href="#">Contact us</a>
    <a href="#">FAQ</a>
    <a href="#">About</a>
    <a href="#">Legal information</a>
    <a href="#">Site security</a>
  </mat-toolbar>
</footer>
