<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <!--Nav-bar links-->
    <side-nav-bar></side-nav-bar>
  </mat-sidenav>
  <mat-sidenav-content>
    <section>
      <h2 class="align-space-between">
        Engines
        <div>
          <button mat-flat-button color="accent" (click)="clearFilters()">
            clear all
          </button>
          <button mat-stroked-button color="accent" [routerLink]="['/parts/engines/add']">
            add engine
          </button>
        </div>
      </h2>

      <div class="filter-container">
        <div class="filter-bar-container">
          <filter-bar #filterBar [columnsToFilter]="columnsToFilter" (modelUpdateEvent)="loadEngines()"></filter-bar>
        </div>
        <div class="dates-container">
          <form-group
            [fg]="generalForm"
            [name]="'engineFilterForm'"
            [controls]="engineFilterFormControls"
            [gridColumns]="2"></form-group>
        </div>
      </div>

      <div class="full-width" *ngIf="datasource.loading">
        Searching, please wait...
      </div>

      <div *ngIf="datasource.loading">
        <mat-progress-bar mode="indeterminate" class="full-width"></mat-progress-bar>
      </div>

      <table>



      </table>


      <div class="full-width">
        <mat-paginator #paginator
                       class="paginator"
                       [length]="datasource.max"
                       [pageIndex]="0"
                       [pageSize]="20"
                       [pageSizeOptions]="[20, 50, 100]"
                       [hidden]="datasource.dataToDisplay.length == 0">
        </mat-paginator>
      </div>

      <div class="warning-no-records" *ngIf="datasource.dataToDisplay.length == 0">
        No records found...
      </div>

    </section>
  </mat-sidenav-content>

</mat-sidenav-container>
