<div class="wrapper">
  <div class="card">
    <section>

      <div class="card-header">
        <h1>Engine</h1>

        <div class="controls">
          <button mat-stroked-button color="primary" (click)="clearFilters()">
            Clear all
          </button>
          <button mat-flat-button color="accent" [routerLink]="['/parts/engines/add']">
            Add engine
          </button>
        </div>

      </div>

      <nav-bar></nav-bar>

      <div class="filter-container">

        <div class="filter-bar-container">
          <filter-bar #filterBar [columnsToFilter]="columnsToFilter" (modelUpdateEvent)="loadEngines()"></filter-bar>
        </div>
        <div class="dates-container">
          <form-group
            [fg]="generalForm"
            [name]="'engineFilterForm'"
            [controls]="engineFilterFormControls"
            [gridColumns]="2"></form-group>
        </div>
      </div>

      <div class="full-width" *ngIf="datasource.loading">
        Searching, please wait...
      </div>

      <div *ngIf="datasource.loading">
        <mat-progress-bar mode="indeterminate" class="full-width"></mat-progress-bar>
      </div>

      <table>



      </table>


      <div class="full-width">
        <mat-paginator #paginator
                       class="paginator"
                       [length]="datasource.max"
                       [pageIndex]="0"
                       [pageSize]="20"
                       [pageSizeOptions]="[20, 50, 100]"
                       [hidden]="datasource.dataToDisplay.length == 0">
        </mat-paginator>
      </div>

      <div class="warning-no-records" *ngIf="datasource.dataToDisplay.length == 0">
        No records found...
      </div>

    </section>
  </div>
</div>
