:host {
  .column-filter {
    width: 100%;
  }

  .filter-value-input {
    background: transparent;
    border: 0;
    margin-left: 5px;
    width: 70px;
    outline: none;
    min-width: unset;
  }

}
