<form [formGroup]="generalForm" *ngIf="generalForm">

  <div class="login-logo">
    <img src="../../../assets/carly_logo.png" class="image-preview">
  </div>

  <div class="flex-container">

    <div class="flex-container-content">

      <form-group
        *ngIf="loginDetailsForm"
        [fg]="generalForm"
        [name]="'loginDetailsForm'"
        [controls]="loginDetailsFormControls"
        [gridColumns]="gridColumns"></form-group>

    </div>

  </div>


  <div class="login-wrapper">
    <button mat-dialog-close class="btn-login" (click)="checkLogin()">Login</button>
  </div>

  <mat-divider class="divider-large"></mat-divider>

  <div class="login-wrapper">
    <button mat-dialog-close class="btn-login" (click)="openRegistrationDialog()">Sign up now</button>
  </div>

</form>
<p>General form value: {{generalForm.value | json}}</p>
<p>Is form valid: {{generalForm.valid}}</p>
