<div class="login-container">
  <h2 mat-dialog-title>Login to Carly</h2>
  <mat-dialog-content>
    <div>
      <div class="input-field">
        <h3>Username:</h3>
        <input type="text" [(ngModel)]="email">
      </div>
      <div class="input-field">
        <h3>Password:</h3>
        <input type="password" [(ngModel)]="password">
      </div>
    </div>
  </mat-dialog-content>

  <mat-divider class="divider-large"></mat-divider>

  <button mat-stroked-button mat-dialog-close color="primary" (click)="checkLogin()">Login</button>

  <mat-divider class="divider-large"></mat-divider>

  <h3>Don't have account? Sign up now!</h3>
  <button mat-stroked-button mat-dialog-close color="primary" (click)="openRegistrationDialog()">Sign up now</button>

</div>
