@import "../../colors.scss";

:host {

  background-color: $bodyBg;

  .login-container {

    width: 400px;
    margin: auto;

  }


  .input-field {
    font-size: 16px;
    margin-bottom: 25px;

    input {
      font-size: 20px;
      width: 100%;
    }

  }

  .login-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .btn-login {
    color: $white;
    background-color: $mainColor;
    border: none;
    font-size: 1.3rem;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 60%;
    margin: 20px auto;

    &:hover {
      cursor: pointer;
      background-color: $mainColorHover;
    }

  }

  .login-logo {
    display: flex;
    justify-content: center;
    padding: 10px;

    img {
      width: 60%;
    }

  }


}
